h1{
    text-align: center;
}

table{
    border-collapse: collapse;
}
th{
    background-color: #4caf50; collapse: ;
    color: white;
}

tr:nth-child(even){
    background-color: aliceblue  ;
}

tfoot{
    border-top: 10px solid gray;
}
td ,th{
    padding: 5px;
}
.money {
    text-align: right ;
}
button{
    width: 25px;
    height: 25px ;
}
