h1{
    text-align: center;
}

table{
    border-collapse: collapse;
}
th{
    background-color: #4caf50; collapse: ;
    color: white;
}
.money {
    text-align: right ;
}
button{
    width: 38px;
    height: 35px ;
}
